@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700&display=swap");


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Stapel';
  src: local('Stapel Bold'), local('Stapel-Bold'),
      url('../../public/font/Stapel-Bold.woff2') format('woff2'),
      url('../../public/font/Stapel-Bold.woff') format('woff'),
      url('../../public/font/Stapel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth!important;
}

.bg-ellipse-gradient {
  background: radial-gradient(circle at center, rgba(173, 216, 230, 0.5), rgba(255, 255, 255, 0));
  border-radius: 50%;
  width: 160%;
  height: 160%;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

